# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch
*.pt
*.pth

# Data files
data/processed/
*.csv
*.pkl

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Environment
.env
.venv
env/
venv/
